body {
    background-color: #121212;
    font-family: Lato;
}

header {
    text-align: center;
    height: 20vh;
    color: rgb(206, 147, 216);
}

h1 {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 10px;
    margin-bottom: 1rem;
    margin-top: 0;
}

section {
    height: 75rem;
    padding: 0 4rem;
    flex-direction: column;
}

.overlay {
    height: 20rem;
    width: 75%;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: rgb(33, 33, 33);
    border-radius: 7px;
    display: flex;
    color: white;
}

.overlay div {
    flex: 1;
}

.info {
    text-align: center;
}

.portal {
    border-radius: 7px;
    height: 90%;
    width: 75%;

    display: flex;
    align-items: flex-end
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#san-fran {
    background-image: linear-gradient(180deg, rgba(0,0,0,0), #121212), url('https://media.istockphoto.com/id/476881195/photo/bay-bridge-and-san-francisco-skyline-at-sunset.jpg?s=612x612&w=0&k=20&c=dBeGdmYS8eOufXGT_YdRkuvKfLKUHFYwVaL9gHbkSXo=');
    background-position: center;
    background-size: cover;
}

#xiamen {
    background-image: linear-gradient(180deg, rgba(0,0,0,0), #121212), url('https://media.tacdn.com/media/attractions-splice-spp-674x446/0b/18/c3/af.jpg');
    background-position: center;
    background-size: cover;
}

#london {
    background-image: linear-gradient(180deg, rgba(0,0,0,0), #121212), url('https://media.istockphoto.com/id/1313895046/photo/panoramic-aerial-view-to-the-illuminated-cityscape-of-london.jpg?b=1&s=170667a&w=0&k=20&c=wnuvWQIzwlGWLweXcmEcLPDrlDnsHkMc0JVggRZNhwA=');
    background-position: center;
    background-size: cover;
}

.cityname {
    margin-left: 1rem;
}