html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #121212;
    font-family: 'Roboto';
}

h1 {
    color: white;
    text-align: center;
}

/* .leaflet-tile {
    -webkit-filter: hue-rotate(180deg) invert(100%);
} */

.container {
    display: flex;
}

.app {
    padding: 3vh 5vw;
}

#map {
    height: 50vh;
    border-radius: 4px;
}

#scroll {
    /* margin-top: 3vh; */
    height: 45vh;
    padding: 1rem 0;
    overflow-x: auto;
    display: flex;
}

#scroll::-webkit-scrollbar {display: none;}
.card-face-back::-webkit-scrollbar {display: none;}

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 95%;
    min-width: 20%;
    width:20%;
    margin: 0 1rem;
    /* padding: 0.5rem; */
}

@media (max-width: 480px) {
    h2 {
        font-size: 0.8rem;
    }

    .card {
        min-width: 50%;
        width:50%;
        height: 90%;
    }
}

.card-face {
    color: white;
    height: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 4px;
    overflow: hidden;
    padding: 0.5rem;
}

.card-face-front {
    background-color: orangered;
}

.card-face-back {
    transform: rotateY(180deg);
    overflow-y: auto;
}

.card:hover .card-face-front {
    transform: rotateY(180deg);
}

.card:hover .card-face-back {
    transform: rotateY(0deg);
}

.card:first-of-type {
    margin-left: 0;
}

.card:last-of-type {
    margin-right: 0;
}

.card-image {
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    /* background-size: 100% 100%; */
    height: 15rem;
}

.card-red {
    background-image: linear-gradient(to right bottom, #E74856, #EA005E);
}

.card-orange {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card-yellow {
    background-image: linear-gradient(to right bottom, #FDE047, #EAB308);
}

.card-green {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card-blue {
    background-image: linear-gradient(to right bottom, #22D3EE, #0EA5E9);
}

.card-indigo {
    background-image: linear-gradient(to right bottom, #818CF8, #8B5CF6);
}

.card-purple {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}