html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #121212;
}

.app {
    padding: 3vh 5vw;
}

#map {
    height: 50vh;
}

#scroll {
    margin-top: 3vh;
    display: flex;
    overflow-x: auto;
}

#scroll::-webkit-scrollbar {display: none;}

.marker {
    height: 30vh;
    min-width: 20%;
    width:20%;
    margin: 0rem 0.5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 17px;
}